* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9fb;
}

html {
    --scrollbarBG: #CFD8DC;
}

::-webkit-scrollbar {
    scrollbar-color: #0ff;
}

/* mobile_headr start */
.mobile_headr {
    position: fixed;
    /* display: block; */
    max-width: 400px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#800020bd, #00ffffa6);
    top: 0;
    left: -100%;
    z-index: 10;
    transition: all .4s ease-in-out;
    opacity: 0;
    backdrop-filter: blur(20px);
    visibility: hidden;
    padding: 20px
}

/* forExtraordnary */
/* .forExtraordnary {
    display: flex;
    justify-content: space-between;
    width: 100%;
} */

.forExtraordnary .inner {
    display: none;

}

@media only screen and (max-width: 1260px) {
    .forExtraordnary {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .forExtraordnary .inner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        gap: 30px;
        color: #fff;
    }

    .header_banner nav {
        display: flex;
        flex-direction: column;
    }

    .header_banner nav.AdYrBu {
        flex-direction: row;
    }

    .header_banner .right_header .inner2 {
        display: none;
    }

}

@media only screen and (max-width: 830px) {
    .forExtraordnary .inner {
        display: none;
    }
}

/* forExtraordnary */

.mobile_headr .clseBtn {
    display: inline-flex;
    width: 100%;
    justify-content: end;
}

.mobile_headr .moboNav .items {
    width: 100%;
}

.mobile_headr .moboNav .items li {
    width: 100%;

}

/* .mobile_headr .moboNav .items li:hover { */

.mobile_headr .moboNav .items li a {
    display: block;
    padding: 10px 20px;
    width: 100%;
    transition: all .2s ease-in-out;
    text-transform: capitalize;
}

.mobile_headr .moboNav .items li a:hover {
    background-color: #ffffff54;
}

.mobile_headr .clseBtn i {
    font-size: 20px;
    display: inline-flex;
    /* width: 100%; */
    justify-content: end;
    align-items: end;
    cursor: pointer;
}

.nav_icon {
    font-size: 20px;
    color: #fff;
    display: none;
}

/* mobile_headr end */

.header_banner {
    position: relative;
}

.header_banner li a {
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.header_banner .right_header .navigation li a {
    color: #212832;
    padding: 10px 5px;
}


.header_banner .right_header .navigation li a::after {
    position: absolute;
    content: url(assets/images/arrow.png);
    width: 100px;
    object-fit: cover;
    bottom: 0;
    left: -100%;
    transition: all .4s ease-in;
}

.header_banner .right_header .navigation li a:hover::after {
    left: 0;
}

.header_banner {
    position: relative;
}

.header_banner .rectangle {
    position: absolute;
    top: 0;
    right: 0;
    width: 27%;
    height: 280px;
    object-fit: cover;
    z-index: -1;
}

.header_banner .rectangle img {
    width: 100%;
}

.header_banner .header_main {
    max-width: 1280px;
    margin: auto;
    padding: 22px 25px;

}

.header_banner .header_main .header_logo a img {
    width: 84px;
    /* height: 84px; */
    object-fit: cover;
}

.header_banner .header_main .right_header.formrgn {
    margin-left: 45px;
}

.header_banner .header_main .right_header ul {
    display: flex;
}

.header_banner .header_main .right_header ul li {
    display: block;
}

/* @media only screen and (max-width: 1240px) {
    .header_banner .header_main .right_header ul {
        display: flex;
        flex-wrap: wrap;
    }
} */

@media only screen and (max-width: 1000px) {
    .header_banner .header_main nav {
        display: flex;
        flex-direction: column;
    }

    .header_banner .header_main .right_header ul {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10px;
    }

    .header_banner .header_main .right_header ul li a {
        padding-top: 0;
    }

    .header_banner .header_main .right_header {
        margin: 0;
        flex-direction: column;
    }

}

@media only screen and (max-width: 991px) {

    .header_banner .language a,
    .header_banner li a {
        color: #000;
        border-color: #000;
    }

    .header_banner a.dfkdsl {
        color: #fff !important;
        border-color: #fff !important;

    }

    .header_banner li a:hover {
        border-color: #000;
    }
}

/* heroBanner */
.heroBanner {
    position: relative;
}

.heroBanner .heroImg {
    position: absolute;
    /* display: block; */
    right: 0;
    width: 100%;
    z-index: -1;
    bottom: 0;
}

.heroBanner .heroImg img {
    width: 100%;
}

.heroContent h3 {
    font-size: 20px;
    color: #DF6951;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.heroContent h1 {
    color: rgba(24, 30, 75, 0.98);
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -3.36px;
}

.heroContent p {
    color: #5E6282;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
}

.heroContent .heroBtn {
    border-radius: 32px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 16px 17px;
    text-transform: uppercase;
    background: #800020;
    box-shadow: 0px 5px 10px 0px rgba(77, 53, 0, 0.466);
}

.heroMain {
    position: relative;
}

/* media Query */
@media only screen and (max-width:830px) {
    .header_banner .header_main nav {
        flex-direction: row;
    }

    .right_header {
        display: none !important;
    }

    .nav_icon {
        display: block;
        color: #000;
    }

}

@media only screen and (max-width:767px) {
    .right_header {
        display: none;
    }

    .nav_icon {
        display: block;
        color: #000;
    }

    .heroContent h3 {
        font-size: 17px;
    }

    .heroContent h1 {
        font-size: 46px;
        line-height: 46px;
    }

    .heroContent p {
        font-size: 16px;
        line-height: normal;
    }

    .heroContent .heroBtn {
        padding: 15px 12px;
        display: inline-block;
    }

    .header_banner .header_main .header_logo a img {
        width: 65px;
        height: 65px;
    }

    .header_banner .header_main {
        padding: 16px 13px;
    }

    .header_banner .heroBanner .heroImg {
        display: none;
    }
}

/* 575 */
@media only screen and (max-width:575px) {
    .header_banner .heroBanner .heroImg {
        top: 0;
    }
}


/* 428 */

@media only screen and (max-width:428px) {
    .header_bann {
        padding-bottom: 0% !important;
    }

    .header_banner .header_main {
        padding: 8px 13px;
    }

    .heroContent {
        gap: 10px
    }

    .heroContent h3 {
        font-size: 14px;
    }

    .heroContent h1 {
        font-size: 35px;
        line-height: 35px;
    }

    p br {
        display: none;
    }

    .header_banner .heroBanner .heroImg {
        top: 0%;
    }

    .header_banner .rectangle {
        width: 120px;
    }

}

@media only screen and (max-width:320px) {
    .header_banner .heroContent h3 {
        font-size: 11px;
    }

    .header_banner .heroContent h1 {
        font-size: 23px;
        line-height: 22px;
        letter-spacing: .1px;
    }

    .header_banner .heroContent {
        gap: 6px;
    }

    .header_banner .heroContent p {
        font-size: 11px;
        line-height: 17px;
    }

    .header_banner .heroContent .heroBtn {
        padding: 11px 11px;
        font-size: 11px;
    }

    .header_banner .heroBanner .heroImg {
        top: 0;
    }
}

/* homeSec2 */
.homeSec2 h1 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    line-height: 55px;
    padding-bottom: 20px;
}

/* .homeSec2 img {
    width: 100%;
    height: 100%;
} */

.homeSec2 .sec2btn {
    margin: 45px 0;
    border: 3px dashed #800020;
    display: flex;
    padding: 20px 55px;
    border-left: none;
    border-right: none;
}

.homeSec2 .sec2btn button {
    color: #F00;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media only screen and (max-width: 767px) {
    .homeSec2 .sec2btn {
        padding: 20px 13px;
        margin: 45px 0;
    }

    section.homeSec2 {
        padding-top: 45px;
    }

}

@media only screen and (max-width: 575px) {

    .homeSec2 h1 {
        font-size: 28px;
        line-height: 28px;
    }

    section.homeSec2 {
        padding-top: 0px;
    }
}

@media only screen and (max-width: 428px) {
    .homeSec2 h1 {
        font-size: 25px;
        line-height: 22px;
        /* padding-top: 10% !important; */
    }

    section.homeSec2 {
        padding-top: 30px;
    }

    .homeSec2 .sec2btn {
        margin: 20px 0;
    }

}

@media only screen and (max-width: 320px) {
    .homeSec2 h1 {
        font-size: 23px;
        line-height: 22px;
        letter-spacing: .1px;
        /* margin-bottom: 10px; */
    }
}


/* mindedSite */
.mindedSite {
    position: relative;
}

.mindedSite img {
    width: 100%;
}

.mindedSite .title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000085;

}

.mindedSite .title h1 {
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 112px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 14px;

}

/* media query */

@media only screen and (max-width: 1110px) {
    .mindedSite .title h1 {
        font-size: 70px;
    }
}

@media only screen and (max-width: 767px) {
    .mindedSite .title h1 {
        font-size: 46px;
        line-height: 46px;
    }

    .mindedSite {
        margin-top: 45px;
    }
}

@media only screen and (max-width: 428px) {
    .mindedSite .title h1 {
        font-size: 28px;
        line-height: 28px;
    }

    .mindedSite {
        margin-top: 30px;
    }
}

/* businessMW */

.businessMW {
    padding: 90px 13px;
    margin: 45px 0;
    border-top: 4px dashed #800020;
    border-bottom: 4px dashed #0FF;
}

.businessMW.AdYrBu {
    border-top: 4px dashed #0FF;
    border-bottom: 4px dashed #800020;
}

.businessMW .card .cardImg {
    position: relative;
    display: block;
    max-width: 290px;
    width: 100%;
    overflow: hidden;
}

.businessMW .card .cardImg img {

    border-radius: 60%;
}

.businessMW .card .dot {
    position: absolute;
    bottom: 25px;
    right: 30px;
    border-radius: 60%;
    width: 30px;
    height: 30px;
}

.businessMW .card .cardContent a {
    color: #000;
    text-align: center;
    /* font-family: Poppins; */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    margin: 0;
}

/* media query */
@media only screen and (max-width: 767px) {
    .businessMW {
        padding: 45px 13px;
    }
}

/* footer */
footer {
    background-color: #00008B;
    padding-top: 45px;
}

footer .fotoer_main {
    max-width: 1080px;
    margin: auto;
    width: 100%;

}

footer .fotoer_main .footerInner ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer .fotoer_main ul li {
    display: inline-block;
}

footer .fotoer_main ul li a {
    color: #fff;
    font-size: 14px;
    transition: all .3s ease-in-out;
}

footer .fotoer_main ul li a:hover {
    text-decoration: underline;

}

footer .footer_bottom {
    position: relative;
}

footer .footer_bottom:after,
footer .footer_bottom:before {
    position: absolute;
    display: block;
    content: '';
    /* left: 0; */
    bottom: 0;
    width: 32%;
    height: 50px;
    background: #150043;
    border-radius: 0px 64.89px 0px 0px;
}

footer .footer_bottom:before {
    border-radius: 64.89px 0px 0px 0px;
    right: 0;

}

@media only screen and (max-width:880px) {

    footer .footer_bottom:after,
    footer .footer_bottom:before {
        width: 30%;
        height: 40px;
    }

}

@media only screen and (max-width:650px) {
    footer {
        padding-bottom: 10px;
    }

    footer .footer_bottom:after,
    footer .footer_bottom:before {
        display: none;
    }
}


/* testimonial */
.test-_wraper {
    max-width: 1280px;
    margin: auto;
    padding: 45px 13px;
    width: 100%;
}

.test-_wraper .testimonial h1 {
    /* margin: 45px 13px; */
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.test-_wraper .slierOuter {
    max-width: 1100px;
    width: 100%;
    padding: 90px 45px 45px 45px;
    margin: 90px auto;
    box-shadow: 1px 3px 5px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.test-_wraper .slierOuter .testimonialSlider .test-Card .test-Left {
    width: 29%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.test-_wraper .slierOuter .testimonialSlider .test-Card .test-Left .leftContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.test-_wraper .slierOuter .testimonialSlider .test-Card .test-Left .leftContent h1 {
    color: #0F33EE;
    text-align: center;
    font-family: 'Inria Sans', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.test-_wraper .slierOuter .testimonialSlider .test-Card .test-Left .leftContent p {
    color: #000;
    text-align: center;
    font-family: 'Inria Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.test-_wraper .slierOuter .testimonialSlider .test-Card .test-Left img {
    max-width: 300px;
    width: 100%;
}

.test-_wraper .slierOuter .testimonialSlider .test-Card .test-right {
    width: 60%;
}

.test-_wraper .slierOuter .testimonialSlider .test-Card .test-right .pngwing1 {
    float: left;
}

.test-_wraper .slierOuter .testimonialSlider .test-Card .test-right .pngwing2 {
    float: right;
}

.test-_wraper .slierOuter .testimonialSlider .test-Card .test-right p {
    font-family: 'Inria Serif', serif;
    color: #000;
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.test-_wraper .slierOuter .testimonialSlider .test-Card .test-right .stars {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.test-_wraper .slierOuter .testimonialSlider .test-Card .test-right .stars img {
    width: 30px;
}

button.slick-prev.forprev {
    position: absolute;
    left: -14%;
    top: 27%;

}

button.slick-prev.forpNext {
    position: absolute;
    right: -15%;
    top: 27%;
}


@media only screen and (max-width: 1322px) {
    button.slick-prev.forprev {
        left: -47px;
        z-index: 1;
        width: 50px;
    }

    button.slick-prev.forpNext {
        right: -5%;
        width: 50px;
    }

}


@media only screen and (max-width: 991px) {
    button.slick-prev.forprev {
        left: -5%;
    }

    button.slick-prev.forpNext {
        right: -6%;
    }
}

@media only screen and (max-width: 767px) {
    .test-_wraper {
        padding: 0 13px;
    }

    .test-_wraper .testimonial h1 {
        font-size: 28px;
    }

    button.slick-prev.forprev,
    button.slick-prev.forpNext {
        display: none !important;
    }

    .test-_wraper .slierOuter .testimonialSlider .test-Card .test-Left {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .test-_wraper .slierOuter {
        padding: 45px 20px;
        margin: 20px 0 0 0;
    }

    .test-_wraper .slierOuter .testimonialSlider .test-Card .test-Left img {
        width: 200px;
    }

    .test-_wraper .slierOuter .testimonialSlider .test-Card .test-Left,
    .test-_wraper .slierOuter .testimonialSlider .test-Card .test-right {
        width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    .test-_wraper .testimonial h1 {
        font-size: 22px;
    }

    .test-_wraper .slierOuter .testimonialSlider .test-Card .test-right p {
        font-size: 17px;
    }

    .test-_wraper .slierOuter .testimonialSlider .test-Card .test-right .stars {
        gap: 5px;
    }

    .test-_wraper .slierOuter .testimonialSlider .test-Card .test-right .stars img {
        width: 20px;
    }

}

@media only screen and (max-width: 428px) {
    .test-_wraper .slierOuter .testimonialSlider .test-Card .test-Left img {
        width: 140px;
    }

    .test-_wraper .slierOuter .testimonialSlider .test-Card .test-Left .leftContent h1 {
        font-size: 23px;
    }

    .test-_wraper .slierOuter .testimonialSlider .test-Card .test-Left .leftContent p {
        font-size: 14px;
    }

    .test-_wraper {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 360px) {
    .test-_wraper .slierOuter .testimonialSlider .test-Card .test-Left img {
        font-size: 70px;
    }

    .test-_wraper .slierOuter .testimonialSlider .test-Card .test-Left .leftContent h1 {
        font-size: 18px;
    }
}



/* about us */
.aboutWrapper {
    color: #000;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.gallery1 .iner img {
    /* border-radius: 20px; */
    width: 32.6%;
}

.gallery1 img.forborder1 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.gallery1 img.forborder2 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.gallery1 img.forRadius {
    border-radius: 0;
}

.aboutWrapper .aboutSec2 p {
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 13px;
}

.aboutWrapper .aboutSec2 {
    border-top: 3px dashed #800020;
}

@media only screen and (max-width: 1100px) {
    .aboutWrapper .aboutSec2 br {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .aboutWrapper .aboutSec2 p {
        font-size: 23px;
    }

    .gallery1 .iner img {
        width: 48%;
    }

}

@media only screen and (max-width: 575px) {
    .aboutWrapper .aboutSec2 p {
        font-size: 17px;
    }

    .gallery1 .iner img {
        width: 100%;
    }

}

@media only screen and (max-width: 360px) {
    .aboutWrapper .aboutSec2 p {
        font-size: 14px;
    }

}

/* galery2 */
.galery2 {
    border-top: 3px dashed #0FF;
    margin-top: 45px;
    padding: 45px 30px 0 30px;
}

.galery2 .inner {
    display: flex;
}

.gallery3 {
    border-top: 3px dashed #800020;
    padding: 45px 30px 0 30px;
    margin-top: 45px;
}

.gallery3 .glry3top img {
    width: 23%;
    /* 
    width: 300px;
    
    border-radius: 20px; */
}

@media only screen and (max-width: 767px) {
    .gallery3 .glry3top {
        display: flex;
        flex-wrap: wrap;
    }

    .gallery3 .glry3top img {
        width: 48%;
    }
}

.gallery3 .glry3mdle img {
    width: 49%;
    /* border-radius: 20px; */
}

@media only screen and (max-width: 575px) {
    .gallery3 .glry3top img {
        width: 47%;
    }

}

@media only screen and (max-width: 767px) {
    .gallery3 .glry3mdle img {
        width: 48%;
    }

}

@media only screen and (max-width: 428px) {
    .gallery3 .glry3mdle img {
        width: 47%;
    }
}

/* choosePlanwaper */
.choosePlanwaper .title2 h1 {
    max-width: 1230px;
    margin: auto;
    color: #000;
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    /* 45% */
    letter-spacing: 1.2px;
}


/* cpsection */
.cpsection {
    border-top: 3px dashed #800020;
    border-bottom: 3px dashed #0FF;
}

.cpsection .cpcard {
    max-width: 350px;
    width: 100%;
    height: 650px;

    background: linear-gradient(160deg, #800020bd, #00ffffa6);
    padding: 45px 20px 20px 20px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    color: #FFF;
    /* text-align: center; */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cpsection .cpcard ul li {
    color: #000;
    /* text-align: center; */
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cpsection .cpcard ul li span {
    color: #000;
    /* text-align: center; */
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* Singup style */
.signUpwrapper .leftSingup {
    position: relative;
    background: linear-gradient(to bottom, #00FFFF, #800020, #0F0C29);
}

.signUpwrapper .leftSingup .handShaking {
    position: absolute;
    top: 42%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 0;
}

.signUpwrapper .leftSingup .signUp_logo .contentLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.signUpwrapper .leftSingup .signUp_logo .contentLeft h1 {
    color: #FFF;

    text-align: center;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    /* 119.995% */
}

.signUpwrapper .leftSingup .signUp_logo .contentLeft h3 {
    color: #BDBDBD;
    text-align: center;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.16px;
    /* 176% */
}

/* .signUpwrapper .leftSingup .handShaking {} */

.signUpwrapper .leftSingup .signUp_logo {
    padding: 90px 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.signUpwrapper .rightSingup {
    padding: 20px;
}

.signUpwrapper .rightSingup .leftBar a {
    color: #424242;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    text-align: center;
    font-size: 12.8px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.53px;/
}

.signUpwrapper .rightSingup .right_bar {
    color: #424242;

    text-align: center;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 12.8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signUpwrapper .rightSingup .right_bar a {
    color: #212121;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 12.8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration-line: underline;
}


.signUpwrapper .rightSingup .SignUpform .topTitles h1 {
    color: #212121;

    text-align: center;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 44px
}

.signUpwrapper .rightSingup .SignUpform .mainsignUpform .inner {
    border: 1px solid #757575;
    background: #FFF;
}

.signUpwrapper .rightSingup .SignUpform .mainsignUpform .inner input {
    color: #424242;
    outline: none;
    width: 100%;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.16px;
}

.signUpwrapper .rightSingup .SignUpform .mainsignUpform .inner button {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 28.16px
}

.signUpwrapper .rightSingup .inner2 {
    border-radius: 8px;
    border: 1px solid #C5C5C5;
    background: #FFF;
}

.signUpwrapper .rightSingup .inner2 button {
    color: #616161;
    text-align: center;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-style: normal;
    font-weight: 500;
    line-height: 28.16px
}

.havingIssue {
    margin-top: 42px;
    color: #000;
    text-align: right;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 12.8px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.53px;
}

@media only screen and (max-width: 360px) {
    .signUpwrapper .rightSingup .signUp_topbar {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}



/* ADVERTISING YOUR BUSINESS */

/* .AYB_wrapper {} */

.AYB_wrapper .ABY_banner {
    position: relative;
}

.AYB_wrapper .ABY_banner .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.288), rgba(0, 0, 0, .288));
    display: flex;
    justify-content: center;
    align-items: center;
}

.AYB_wrapper .ABY_banner .content h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.AYB_wrapper .AYB_sec2 {
    margin: 25px 0;
    /* padding: 25px 0; */
    border-top: 3px dashed #800020;
    border-bottom: 3px dashed #800020;
}

.AYB_wrapper .AYB_sec2 h1 {
    color: #000;
    padding: 25px 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.AYB_wrapper .AYB_sec2 .selectBox {
    background-color: #fff;
    padding: 35px 50px 45px;
    /* height: ; */
}

.AYB_wrapper .AYB_sec2 .selectBox .selectBoxIner {
    max-width: 500px;
    width: 100%;
    height: 600px;
}

.AYB_wrapper .AYB_sec2 .selectBox .selectBoxIner select {
    color: #5F5E5E;
    border-bottom: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
    border-radius: 0;
}

.AYB_wrapper .AYB_sec2 .selectBox .selectBoxIner select>option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    border-bottom: 1px solid #000 !important;
}

.AYB_wrapper .AYB_sec2 .selectBtns a {
    border-radius: 10px;
    background: #800020;
    color: #0FF;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1.2px;
    box-shadow: 4px 4px 20.1px 0px rgba(0, 0, 0, 0.25);
    padding: 18px 46px;
}

/* media query */
@media only screen and (max-width: 767px) {
    .AYB_wrapper .AYB_sec2 h1 {
        padding: 25px;
    }

    .AYB_wrapper .AYB_sec2 .selectBox {
        padding: 25px;
    }

    .AYB_wrapper .AYB_sec2 .selectBtns a {
        font-size: 17px;
        padding: 15px 20px;
        letter-spacing: normal;
    }

    .AYB_wrapper .AYB_sec2 .selectBox .selectBoxIner {
        height: auto;
    }
}

@media only screen and (max-width: 428px) {
    .AYB_wrapper .AYB_sec2 .selectBtns a {
        font-size: 13px;
        padding: 10px 15px;
        letter-spacing: normal;
    }
}

/* glry4top */
.glryfourtop {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.glryfourtop img {
    width: 23%;
}

@media only screen and (max-width: 767px) {
    .glryfourtop {
        flex-wrap: wrap;
    }

    .glryfourtop img {
        width: 48%;
    }

}



@media only screen and (max-width: 575px) {
    .glryfourtop img {
        width: 47%;
    }
}

@media only screen and (max-width: 575px) {
    .glryfourtop img {
        width: 43%;
    }
}


/* fine you Business Date here */
.fybdhereWraper .fybdhereSlider {
    max-width: 1360px;
    margin: auto;
}

.fybdhereWraper .fybdhereSlider ul.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;
    bottom: 40px;
}

.fybdhereWraper .fybdhereSlider ul.slick-dots li {
    border-radius: 20px;
    opacity: 0.5;
    background: #FFF;
}

.fybdhereWraper .fybdhereSlider ul.slick-dots button {
    display: block;
    width: 24px;
    height: 6px;
    padding: 0;
    border: none;
    font-size: 0;
}

.fybdhereWraper .fybdhereSlider ul.slick-dots li.slick-active {
    background: #FFF;
    opacity: 1;
}

.fybdhereWraper .fybdhereSlider .inner {
    position: relative;
}

.fybdhereWraper .fybdhereSlider .inner .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fybdhereWraper .fybdhereSlider .inner .content h1 {
    color: #FFF;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.fybdhereWraper .fybdhereSlider .inner .content h3 {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.fybdhereWraper .fybdhereSlider .inner .content .searchBar {

    background: #fff;
    margin-top: 90px;
    width: 625px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 5px 5px 5px 20px;
}

.fybdhereWraper .fybdhereSlider .inner .content .searchBar input {
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    border: transparent;
}

.fybdhereWraper .fybdhereSlider .inner .content .searchBar input:focus {
    border: transparent;
    border-width: 0;
    border-radius: 60px;
}

.fybdhereWraper .fybdhereSlider .inner .content .searchBar input::placeholder {
    border: transparent;
    color: #888;

    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fybdhereWraper .fybdhereSlider .inner .content .searchBar button {
    background-color: #C82021;
    padding: 20px;
    border-radius: 50%;
}

@media only screen and (max-width: 767px) {
    .fybdhereWraper .fybdhereSlider .inner .content {
        margin-top: 45px;
    }

    .fybdhereWraper .fybdhereSlider .inner .content .searchBar {
        width: 500px;
        margin-top: 20px;
        gap: 10px;
    }

    .fybdhereWraper .fybdhereSlider .inner .content .searchBar button {
        padding: 14px;
    }

    .fybdhereWraper .fybdhereSlider .inner .content .searchBar button img {
        width: 14px;
    }

    .fybdhereWraper .fybdhereSlider .inner .content {
        width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    .fybdhereWraper .fybdhereSlider .inner .content {
        margin-top: 20px;
    }

    .fybdhereWraper .fybdhereSlider .inner .content .searchBar {
        width: 100%;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 428px) {
    .fybdhereWraper .fybdhereSlider .inner .content {
        margin-top: 0;
    }

    .fybdhereWraper .fybdhereSlider .inner .content .searchBar {
        padding: 3px 3px 3px 13px;
    }

    .fybdhereWraper .fybdhereSlider .inner .content .searchBar button {
        padding: 10px;
    }

    .fybdhereWraper .fybdhereSlider .inner .content .searchBar input,
    .fybdhereWraper .fybdhereSlider .inner .content .searchBar input::placeholder {
        font-size: 14px;
    }

    .fybdhereWraper .fybdhereSlider ul.slick-dots {
        bottom: 25px;
    }

    .fybdhereWraper .fybdhereSlider ul.slick-dots button {
        width: 16px;
        height: 4px;
    }
}

@media only screen and (max-width: 360px) {
    .fybdhereWraper .fybdhereSlider ul.slick-dots button {
        display: none;
    }

    .fybdhereWraper .fybdhereSlider .inner .content {
        justify-content: center;
    }

    .fybdhereWraper .fybdhereSlider .inner .content h3 {
        font-size: 10px;
    }

    .fybdhereWraper .fybdhereSlider .inner .content .searchBar {
        width: 80%;
    }

    .fybdhereWraper .fybdhereSlider .inner .content .searchBar input,
    .fybdhereWraper .fybdhereSlider .inner .content .searchBar input::placeholder {
        font-size: 11px;
    }

    .fybdhereWraper .fybdhereSlider .inner .content .searchBar button {
        padding: 7px;
    }

}

/* fybhtabs */
.fybhtabs ul {
    font-weight: 500;
    display: flex;
    /* max-width: 86%; */
    padding: 0 14px;
    margin: auto;
    /* gap: 10px; */
}

.fybhtabs ul li {
    width: 25%;
    margin: auto;
    text-align: center;
}

.fybhtabs ul li button {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid transparent;
}

.fybhtabs ul li button[aria-selected="true"] {
    color: #800020;
    border-bottom: 3px solid rgb(0, 255, 255);
}

@media only screen and (max-width: 767px) {
    .fybhtabs ul li button {
        font-size: 26px;
    }
}

@media only screen and (max-width: 575px) {
    .fybhtabs ul li button {
        font-size: 17px;
    }
}

@media only screen and (max-width: 428px) {
    .fybhtabs ul {
        flex-wrap: wrap;
        gap: 5px;
        justify-content: space-between;
        padding: 0;
    }

    .fybhtabs ul li button {
        font-size: 14px;
    }

    .fybhtabs ul li {
        width: 20%;
    }
}

@media only screen and (max-width: 360px) {
    .fybhtabs ul li button {
        font-size: 12px;
    }
}

.fybhtabs ul li button:hover {
    color: #800020;
    border-bottom: 3px solid #00FFFF;
    border-top: 0;
    border-left: 0;
    border-right: 0;

}

.fybhtabs {
    border-bottom: 1px dashed #800020;
}

.fybdhereWraper .mainTabsCon .fybhCard {
    max-width: 300px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
}

.fybdhereWraper .mainTabsCon .fybhCard .cardInner {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 45px 20px;
    gap: 20px;
}

.fybdhereWraper .mainTabsCon .fybhCard .cardInner .cardImg {
    border-radius: 60%;
    overflow: hidden;
    border: 6px solid yellow;
    border-left: 5px solid transparent;
    padding: 2px;
    width: 124px;
}

.fybdhereWraper .mainTabsCon .fybhCard .cardInner .cardImg img {
    border-radius: 60px;
    width: 100%;
    border: 3px solid #26235C;
}

.fybdhereWraper .mainTabsCon .fybhCard .cardInner .cardCntntOuter .cardCntnt h1 {
    color: #252525;

    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fybdhereWraper .mainTabsCon .fybhCard .cardInner .cardCntntOuter {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fybdhereWraper .mainTabsCon .fybhCard .cardInner .cardCntntOuter .cardCntnt h3 {
    color: #26235C;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fybdhereWraper .mainTabsCon .fybhCard .cardInner .cardCntntOuter .cardCntnt p {
    color: #252525;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
}

.fybdhereWraper .mainTabsCon .fybhCard .cardInner .cardCntntOuter .cardBtns {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.fybdhereWraper .mainTabsCon .fybhCard .cardInner .cardCntntOuter .cardBtns button {
    padding: 5px 80px;
    border-radius: 10px;
    background: #800020;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



/*  */
.cnclsbscrtn_wrapper {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding: 22px 14px;

}

.cnclsbscrtn_wrapper .cnclsbscrtn {
    max-width: 1097px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cnclsbscrtn h3,
.cnclsbscrtn h1 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.32px;
}

.cnclsbscrtn_wrapper .cnclsbscrtn p {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 144.444% */
    letter-spacing: 0.54px
}

.cnclsbscrtn_wrapper .cnclsbscrtn .btns button {
    border-radius: 35px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 2px 4px 20.5px 0px rgba(0, 0, 0, 0.25);
    padding: 20px 25px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    /* line-height: 18px; */
    letter-spacing: 0.54px;
}

@media only screen and (max-width: 767px) {
    .cnclsbscrtn_wrapper .cnclsbscrtn p {
        letter-spacing: normal;
    }

    .cnclsbscrtn_wrapper .cnclsbscrtn .btns button {
        padding: 15px 20px;
        font-size: 14px;
    }

}

@media only screen and (max-width: 428px) {
    .cnclsbscrtn_wrapper .cnclsbscrtn .btns button {
        font-size: 12px;
        padding: 10px 15px;
    }
}




/* AYB_sec2Box2 */
.AYB_sec2Box2 {
    max-width: 800px;
    width: 100%;
    margin: auto;
    background-color: #E9E9E9;
}

.AYB_sec2Box2 .innerBox2 label {
    cursor: pointer;
    border: 2px solid #000;
}

.AYB_sec2Box2 .innerBox2 input~checked+label {
    border-color: #00008B;
}

input:focus,
input {
    outline: none;
}

.AYB_sec2Box2 .innerBox2 input {
    display: none;

}

.AYB_sec2Box2 .innerBox2 label svg {
    fill: #00008B;
}

.cardForm button {

    display: block;
    background-color: #2F8AD0;
    padding: 10px 30px;
    border-radius: 6px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}


/* AYB_sec2Box3 */
.AYB_sec2Box3 {
    max-width: 1000px;
    margin: 100%;
    margin: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 45px;
    user-select: none;
}

.AYB_sec2Box3 .AYB_sec2Box3Img {
    position: relative;
    z-index: 10;
}

.AYB_sec2Box3 .AYB_sec2Box3Img::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(35, 162, 109, 0.12);
    z-index: -1;
    border-radius: 50%;
}

.AYB_sec2Box3 h1,
.AYB_sec2Box3 p {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}


/* AYB_sec2Box4 */
.AYB_sec2Box4 h1 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.AYB_sec2Box4 form .inputgroup {
    display: flex;
    gap: 10px;
    align-items: end;
}

.AYB_sec2Box4 form:last-child .inputgroup {
    align-items: end;
}

.AYB_sec2Box4 form label {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.AYB_sec2Box4 form input,
.AYB_sec2Box4 form textarea {
    border-bottom: 1px solid #000;
    background-color: transparent;
    max-width: 400px;
    width: 100%;
    outline: none;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    top: 2px;
}

.AYB_sec2Box4 form textarea {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
}


@media only screen and (max-width: 767px) {
    .AYB_sec2Box4 form label {
        font-size: 18px;
    }
}

@media only screen and (max-width: 640px) {
    .AYB_sec2Box4 form .inputgroup {
        flex-direction: column;
        gap: 5px;
    }
}

@media only screen and (max-width: 575px) {
    .AYB_sec2Box4 form label {
        font-size: 14px;
    }
}



/* BoxOuters */
.BoxOuters {
    background-color: #fff;
    padding: 35px 50px 45px;
}

.BoxOuters label {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.BoxOuters .BoxInerers {
    position: relative;
    max-width: 550px;
    width: 100%;
    height: 60vh;
}

.BoxOuters .BoxInerers.lookingwidth {
    max-width: 800px;
    width: 100%;
}


.BoxOuters .BoxInerers .mainBoxers {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 15px;
    /* gap: 10px; */

}

.BoxOuters .BoxInerers .mainBoxers h1 {
    width: 120px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    /* font-size: 32px; */
    font-style: normal;
    font-weight: 500;
    /* 45% */
    letter-spacing: 1.2px;
}

.BoxOuters .BoxInerers.lookingwidth .mainBoxers h1 {
    width: 387px;
}

.BoxOuters .BoxInerers .select_icon {
    position: relative;
    width: 100%;

}

.BoxOuters .BoxInerers .select_icon:after {
    position: absolute;
    display: inline-block;
    content: '';
    right: 14px;
    top: 20px;
    width: 10px;
    height: 10px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    background-color: transparent;
    transform: rotate(45deg);
    z-index: 0;
}

.BoxOuters .BoxInerers .select_icon select {
    position: relative;
    color: #000;
    /* padding: 9px 0 0 2px; */
    font-weight: 500;
    text-transform: lowercase;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    height: 42px;
    /* top: 3px; */
}

@media only screen and (max-width: 824px) {
    .BoxOuters .BoxInerers.lookingwidth .mainBoxers h1 {
        width: 50%;
        display: block ruby;
    }
}

@media only screen and (max-width: 767px) {
    .BoxOuters .BoxInerers .mainBoxers h1 {
        width: 85px;
    }

    /* .BoxOuters .BoxInerers .select_icon select {
        padding: 3px 0 0px 1px; */
    /* } */
}

/*  */
@media only screen and (max-width: 640px) {
    .BoxOuters .BoxInerers .mainBoxers {
        gap: 8px;
    }

    .BoxOuters .BoxInerers .mainBoxers h1 {
        width: 68px;
    }

    /* .BoxOuters .BoxInerers .select_icon select {
        padding: 3px 0 0 0;
    } */
}


@media only screen and (max-width: 575px) {

    .BoxOuters .BoxInerers .mainBoxers {
        padding-bottom: 0;

    }
}

@media only screen and (max-width: 450px) {
    .BoxOuters .BoxInerers.lookingwidth .mainBoxers {
        flex-wrap: wrap;
    }

    .BoxOuters .BoxInerers.lookingwidth .mainBoxers h1 {
        width: 100%;
    }

}

@media only screen and (max-width: 350px) {
    .BoxOuters .BoxInerers .mainBoxers h1 {
        width: 75px;
    }

}


/* conactInfo1 */
.conactInfo1 {
    max-width: 900px;
    width: 100%;
    margin: 45px auto 0;
    /* background-color: red; */
    height: 500px;
    padding: 0 14px;
    overflow-x: hidden;
}

.conactInfo1 .infoInner {
    background-color: #EEF0F2;
    ;
}

.conactInfo1 .infoInner .Infoleft {
    margin: 50px 45px 20px;
}

.contectInfo3main a,
.contectInfo2main a,
.conactInfo1 .infoInner .Infoleft .leftbottom a {
    border-radius: 30px;
    background: #800020;
    box-shadow: 1px 5px 8.1px 0px rgba(0, 0, 0, 0.40);
    padding: 10px 20px;
    color: #0FF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.conactInfo1 .infoInner .Infoleft .leftmdl .mdleInner {
    width: 100%;
}

.conactInfo1 .infoInner .Infoleft .leftmdl .mdleInner .callZoom {
    color: #0B5CFF;
    font-family: 'Poppins', sans-serif;
    /* font-size: 18px; */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: right;
}

.conactInfo1 .infoInner .Infoleft .leftmdl .mdleInner .timing {
    background: #800020;
    color: #0FF;
    font-family: 'Poppins', sans-serif;
    /* font-size: 18px; */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 15px 35px;
}

.conactInfo1 .infoInner .leftmdl input:checked+label {
    border-color: #000;
}

.conactInfo1 .infoInner .infoRight {
    background: #FFF;
    box-shadow: 19px 0px 25px -6px rgba(0, 0, 0, 0.25);
    padding: 50px 33px 20px 33px;
}

.conactInfo1 .infoInner .infoRight .Righttop span:first-child {
    background-color: #800020;
}

.conactInfo1 .infoInner .infoRight .Rightmdle h1 {
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 100.5%;
    /* 26.13px */
}

.conactInfo1 .infoInner .infoRight .Rightmdle p {
    color: #494949;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.conactInfo1 .infoInner .infoRight .Rightbottom span {
    color: #494949;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.conactInfo1 .infoInner .infoRight .Rightbottom span a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 824px) {
    .conactInfo1 {
        height: auto;
        margin: auto;
    }

    .conactInfo1 .infoInner {
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px;
    }

    .conactInfo1 .infoInner .Infoleft {
        width: 100%;
    }

    .conactInfo1 .infoInner .infoRight,
    .conactInfo1 .infoInner .Infoleft {
        gap: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .conactInfo1 .infoInner {
        padding: 10px;
    }
}

@media only screen and (max-width: 513px) {

    .conactInfo1 .infoInner .Infoleft .leftmdl .mdleInner .callZoom,
    .conactInfo1 .infoInner .Infoleft .leftmdl .mdleInner .timing {
        font-size: 14px;
        padding: 12px 20px;
    }

    .conactInfo1 .infoInner .leftmdl img {
        width: 20px;
    }
}

/* contectInfo2 */
.contectInfo2 input {
    color: #858585;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}