

#svg_form_time {
  height: 15px;
  max-width: 80%;
  margin: 40px auto 20px;
  display: block;
}

#svg_form_time circle,
#svg_form_time rect {
  fill: white;
}

.disabled {
  display: none;
}

section {
  transition: transform 0.2s ease-in-out;
}